
<!-- <input type="file" id="input" (change)="readSelectedFiles($event)" > -->
<!-- <input type="text" id='ytVidUrl' (change)="readYtUrl($event)" > -->
<!-- <app-audio-player [src]="audioSrc" [songFile]="audioFile"></app-audio-player> -->
<!-- <ng-container *ngIf="youtubeVideoUrl">
    <app-yt-player [videoUrl]="youtubeVideoUrl"></app-yt-player>
</ng-container>
<app-lyric-holder></app-lyric-holder> -->


<div class="container">
    <div class="search-bar">
        <input type="text" placeholder="Enter Youtube video link"
            id='ytVidUrl' (change)="readYtUrl($event)">
    </div>
    <div class="yt-video">
        <ng-container *ngIf="youtubeVideoUrl">
            <app-yt-player [videoUrl]="youtubeVideoUrl"></app-yt-player>
        </ng-container>
    </div>
    <div class="lyrics">
        <app-lyric-holder></app-lyric-holder>
    </div>
</div>